{{define "content"}}
<pre>
      ________   ________.________                 __    __                 __               __                .__   __   .__  __
  ____\_____  \ /  _____/|   ____/         _____ _/  |__/  |______    ____ |  | __         _/  |_  ____   ____ |  | |  | _|__|/  |_
 /  _ \ _(__  </   __  \ |____  \   ______ \__  \\   __\   __\__  \ _/ ___\|  |/ /  ______ \   __\/  _ \ /  _ \|  | |  |/ /  \   __\
(  <_> )       \  |__\  \/       \ /_____/  / __ \|  |  |  |  / __ \\  \___|    <  /_____/  |  | (  <_> |  <_> )  |_|    <|  ||  |
 \____/______  /\_____  /______  /         (____  /__|  |__| (____  /\___  >__|_ \          |__|  \____/ \____/|____/__|_ \__||__|
             \/       \/       \/               \/                \/     \/     \/                                       \/
</pre>
            <blockquote class="blockquote text-center">
                <p class="mb-0 font-italic"> With Love by <a href="https://twitter.com/0x09AL">@0x09AL </a> , <a href="https://www.mdsec.co.uk/contact-us/">MDSec Active Breach</a></p>
            </blockquote>

{{end}}